config/hypr/config/colors.conf
config/hypr/config/lock-colors.conf
config/hypr/current-wallpaper
config/hypr/hyprpaper.conf
config/kitty/colors.conf
config/rofi/colors/matugen.rasi
config/cava/config
config/dunst/dunstrc
*.log
*.bak
*.swp
config/wlogout/colors.css
config/hypr/idle-inhibit.list
config/gtk-3.0/gtk.css
config/gtk-4.0/colors-matugen.css
__pycache__/
*.pyc
config/rofi/themes/list.rasi
config/rofi/themes/grid.rasi
config/yazi/flavors/
config/yazi/plugins/
config/zed/themes/
config/matugen/out/
config/hypr/outbound-ignore.list
